<div class="list list-price">
	<% @prices.each do |price| %>
		<dir id="" class="spoiler">
			<span class="spoiler-title"><%= price.title %></span>
			<span class="spoiler-price"><%= price.price %></span>
		</dir>
	<% end %>
</div>